mixin date(static, multi, label1, label2,label3)
    div(class="date")
        if static
            if multi
                label(class="date__label")= label1
                    <input type='text' class="datepickers date__from js-datepickers">
                label(class="date__label")= label2
                    <input type='text' class="datepickers date__to js-datepickers">
            else
                label(class="date__label")= label3
                    <input type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here datepicker-input js-datepicker-here"/>
        else
            <div class="datepicker-here js-datepicker-here" data-range="true"></div>