.ratebutton__button {
    width: 24px;
    height: 24px;
    background: #fff url(/src/assets/images/star_border.svg) center center no-repeat;
    border: none;
    &:hover, &:active, &:focus, &:visited {
        outline: none;
    }
}
.ratebutton__button_active {
    width: 24px;
    height: 24px;
    border: none;
    background: #fff url(/src/assets/images/star.svg) center center no-repeat;
    &:hover, &:active, &:focus, &:visited {
        outline: none;
    }
}