mixin header(login)
    div(class="header")
        +logo("color")
        div(class="header__wrapper")
            +menu
            if login
                div(class="header__name")
                    p Юлий Цезарь
            else
                div(class="header__buttons")
                    +button("Войти","87px","","dark","")
                    +button("зарегистрироваться","196px","background","dark","")