.footer-logo p {
    font-family: $fMont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    max-width: 260px;
    color: $Dark75;
    margin-top: 20px;
    width: 260px;
}