.pagination {
  max-width: 285px;
}
.pagination__list {
  list-style: none;
  display: flex;
}
.pagination__items {
  font-family: $fMont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $Dark50;
  vertical-align: middle;
}
.pagination__item {
  width: 40px;
  height: 40px;
}
.pagination__items { 
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.pagination__items_transform {
  width: 40px;
  height: 40px;
  background: url(../../assets/images/arrow_forward-white.svg) center center no-repeat, linear-gradient(180deg, $green 0%, #66D2EA 100%);
  border-radius: 22px;
  border: 0px;
  cursor: pointer;
  transform: rotate(90deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.pagination__items_hidden_true {
  display: none;
}
.pagination__items_active {
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #FFF;
}
.pagination__wrapper {
  display: flex;
}
.pagination__button {
  width: 40px;
  height: 40px;
  background: url(../../assets/images/arrow_forward-white.svg) center center no-repeat, linear-gradient(180deg, $green 0%, #66D2EA 100%);
  border-radius: 22px;
  border: 0px;
  cursor: pointer;
  &:active, &:hover, &:visited {
    outline: none;
  }
}
.pagination__title {
  margin-top: 10px;
  font-family: $fMont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark75;
  text-align: center;
}