.radio__input {
   display: none;
        +label {
            font-family: $fMont;
            font-size: 14px;
            line-height: 24px;
            display: inline-flex;
            align-items: center;
            color: $Dark50;
        }
        +label::before {
            border: 1px solid $Dark25;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            display: inline-block;
            content: "";
            margin-right: 10px;
            flex-grow: 0;
            flex-shrink: 0;
            cursor: pointer;
        }
}
.radio__input:checked {
    +label::before {
        background: url(/src/images/Rectangle.svg) center center no-repeat;
        border: 1px solid $purple;
    }
    +label {
        color: $Dark75;
    }
}