mixin date()
    div(class="date")
        label(class="date__label") прибытие
            input(class="date__input" type="text")
        label(class="date__label") выезд
            input(class="date__input" type="text")