mixin date()
    div(class="date")
        label(class="date__label") прибытие
            input(class="date__input datepicker-here" type="text" data-range="true" placeholder="ДД.ММ.ГГГГ")
        label(class="date__label") выезд
            input(class="date__input datepicker-here" type="text" data-range="true" placeholder="ДД.ММ.ГГГГ")