mixin footer(idbut)
    .footer
        .up-wrapp
            .up-wrapper
                .wrapper
                    +footer-logo("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")
                .wrapper
                    +navigation([{title: "навигация", link: "#"},{title: "О нас", link: "#"},{title: "Новости", link: "#"},{title: "Служба поддержки", link: "#"},{title: "Услуги", link: "#"}],
                                [{title: "о нас", link: "#"},{title: "О сервисе", link: "#"},{title: "Наша команда", link: "#"},{title: "Вакансии", link: "#"},{title: "Инвесторы", link: "#"}],
                                [{title: "Служба поддержки", link: "#"},{title: "Соглашения", link: "#"},{title: "Сообщества", link: "#"},{title: "Связь с нами", link: "#"}])
                .wrapper
                    +subscription(idbut)
        .down-wrapp
            .down-wrapper
                p Copyright © 2018 Toxin отель. Все права зачищены.
                .media
                    a(href="#")
                        img(src="/src/assets/images/twitter.svg", alt="logo twitter")
                    a(href="#")
                        img(src="/src/assets/images/facebook.svg", alt="logo facebook")
                    a(href="#")
                        img(src="/src/assets/images/IG.svg", alt="logo instagramm")
            
