@import "/Block/footer-logo/footer-logo.scss";
@import "/Block/Navigation/navigation.scss";
@import "/Block/subscription/subscription.scss";

.footer {
    padding-top: 100px;
}
.footer__up-wrapp {
    box-shadow: 0px 1px 0px opacify($Dark5, 0.05);
}
.footer__up-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 1160px;
}
.footer__wrapper:nth-child(2) {
    padding-right: 10px;
}
.footer__down-wrapp {
    box-shadow: 0px 10px 20px $Dark5;
}
.footer__down-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 23px 0 23px 0;
    max-width: 1160px;
}
.footer__copyright {
    font-family: $fMont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $Dark75;
}
.footer__icon {
    margin-right: 20px;
    vertical-align: middle;
}
.footer__link:last-child .footer__icon {
    margin: 2px;
}
