mixin login(id)
    div(class="login")
        form(action="" method="post" form=id)
            h1(class="login__title") Войти
            div(class="login__email")
                +textfield("email", "email","Email","320px","","","",id)
            div(class="login__password")
                +textfield("password","password","Пароль","320px","","","",id)
            +button("Войти","320px","background","dark","arrow",id)
            div(class="login__creating")
                p Нет аккаунта на Toxin?
                +button("Создать","99","","dark","",id)