mixin ratebutton(rate)
    div(class="ratebutton" data-ratebutton=`${rate}`)
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")