.bullet__item {
    font-family: $fMont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $Dark75;
    max-width: 240px;
    list-style-image: url(/src/images/Ellipse.svg) ;
}