@font-face {
    font-family: 'Quicksand';
    src: local('☺'), url('fonts/quicksandbold.woff') format('woff'), url('fonts/quicksandbold.ttf') format('truetype'), url('fonts/quicksandbold.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}    

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }

$fQuick: Quicksands, sans-serif;
$fMont: Montserrat, sans-serif;