@import "../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../Blocks/fonts/fonts.scss";
@import "../Blocks/colors/colors.scss";
@import "../Blocks/Header&Footer/Header&Footer.scss";
@import "../Blocks/form elements/form elements.scss";
@import "../Blocks/cards/cards.scss";

.toxin-registration {
    background: url(../assets/images/background-image4.jpg) center center no-repeat;
    background-size: cover;
    padding: 19px 0 19px 0;
    display: flex;
    justify-content: center;
}