@import "../Blocks/colors/colors.scss";
@import "../Blocks/fonts/fonts.scss";
@import "../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../Blocks/form elements/Block/range/range.scss";
@import "../Blocks/Header&Footer/Header&Footer.scss";
@import "../Blocks/form elements/form elements.scss";
@import "../Blocks/cards/cards.scss";

.search-room {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    @media (max-width: 1170px) {
        flex-direction: column;
        padding: 30px 10px 0 10px;
    }
}
.search-room__room > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
    & > div {
        margin-right: 12px;
    }
}
.search-room__filter {
    @media (max-width: 1170px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
}
.search-room__input-wrap {
    max-width: 266px;
    padding-bottom: 20px;
    &:nth-child(2) {
        padding-bottom: 30px;
    }
}
.search-room__range {
    padding-bottom: 30px;
}
.search-room__title {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $Dark100;
    margin-bottom: 21px;
}
.search-room__range {
    font-family: $fMont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $Dark50;
    margin-top: 10px;
}
.search-room__description {
    padding-bottom: 7px;
}
.search-room__rules {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $Dark100;
    margin-bottom: 16px;
}
.search-room__checkbox {
    margin-bottom: 8px;
    &:first-child {
        margin-bottom: 15px;
    }
    &:last-child {
        margin-bottom: 30px;
    }
}
.search-room__checkboxlist {
    padding-top: 30px;
}
.search-room__pagination {
    padding: 22px 0 73px 0;
    display: flex;
    justify-content: center;
}
  