mixin cards ()
    div(class="cards")
        +logo("grey")
        div(class="cards__wrap")
            div(class="cards__colomn")
                div(class="cards__line")
                    +searchroom("searchroom")
                div(class="cards__line")
                    +registration
            div(class="cards__colomn")
                div(class="cards__line")
                    +toBook
                div(class="cards__line")
                    +login("loginUiKit")
            div(class="cards__colomn")
                div(class="cards__line")
                div(class="cards__line")
                div(class="cards__line")