include ../../mixin
+logo("grey")
div.wrapper
    .content-left
        .wrap
            +textfield("email", "email_1","Email","320px", "Text Field","Default")
        .wrap
            +textfield("text","text-hover","This is pretty awesome","320px","Text Field","Hover / Focus")
        .wrap
            +textfield("subscription","sub","Email","320px","subscription text field")
        .wrap
            +dropdown
        .wrap
            +textfield("text", "date","ДД.ММ.ГГГГ","320px", "masked text field","", "date")
        .wrap
            +date
    .content-middle
        .wrap
            +checkbox("vipe","Можно курить")
            +checkbox("pet", "Можно с питомцами","checked")
            +checkbox("guest", "Можно пригласить гостей (до 10 человек)","checked")
        .wrap
            +radio("radio1","Мужчина","radio","checked")
            +radio("radio2","Женщина","radio")
        .wrap
            +toggle("toggle-on","Получать спецпредложения","checked")
            +toggle("toggle-off","Получать спецпредложения")
    .content-right
        +range("RANGE SLIDER")
        .wrap
            +button("click me","","background","dark")
            +button("click me","","background")
        .wrap
            +button("click me","","","dark")
            +button("click me")
        .wrap
            +link("Click me","color")
            +link("Click me")
        .wrap
            +button("перейти к оплате","320px","background","dark","arrow")
        .wrap
            +perfect("/src/images/insert_emoticon.svg", "Комфорт", "Шумопоглощающие стены")
        .wrap
            +perfect("/src/images/location_city.svg", "Удобство", "Окно в каждой из спален")
