include Block/text field/text field.pug
+logo("grey")
div.wrapper
    div.content
        div.wrap
            +textfield("email", "email","Email","320px", "Text Field","Default")
        div.wrap
            +textfield("text","text-hover","This is pretty awesome","320px","Text Field","Hover / Focus")
        div.wrap
            +textfield("subscription","email","Email","320px","subscription text field")
