mixin formElements()
    div(class="formElements__wrapper")
        +logo("grey")
        div(class="formElements__wrap")
            div(class="formElements__block")
                div(class="formElements__wraper")
                    +textfield("email", "email_1","Email","320px", "Text Field","Default")
                div(class="formElements__wraper")
                    +textfield("text","text-hover","This is pretty awesome","320px","Text Field","Hover / Focus")
                div(class="formElements__wraper")
                    +dropdown("dropDownFormElemen", "dropdown", "", "", "", "", "")
                div(class="formElements__wraper")
                    +textfield("text", "date","ДД.ММ.ГГГГ","320px", "masked text field","", "date")
                div(class="formElements__wraper")
                    +date
                div(class="formElements__wraper")
                  +textfield("subscription","sub","Email","320px","subscription text field")
            div(class="formElements__block")
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Checkbox Buttons
                    +checkbox("vipe","Можно курить")
                    +checkbox("pet", "Можно с питомцами","checked")
                    +checkbox("guest", "Можно пригласить гостей (до 10 человек)","checked")
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Radio Buttons
                    div(class="formElements__wraper formElements__wraper_flex")
                        +radio("radio1","Мужчина","radio","checked")
                        +radio("radio2","Женщина","radio")
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Toggle
                    +toggle("toggle-on","Получать спецпредложения","checked")
                    +toggle("toggle-off","Получать спецпредложения")
                div(class="formElements__wraper")
                    +likebutton(2)
                    +likebutton(12)
                div(class="formElements__wraper")
                    +ratebutton()
            div(class="formElements__block")
                div(class="formElements__wraper")
                    +range("RANGE SLIDER")
                div(class="formElements__wraper")
                    +button("click me","","background","dark")
                    +button("click me","","background")
                div(class="formElements__wraper")
                    +button("click me","","","dark")
                    +button("click me")
                div(class="formElements__wraper")
                    +link("Click me","color")
                    +link("Click me")
                div(class="formElements__wraper")
                    +button("перейти к оплате","320px","background","dark","arrow")
                div(class="formElements__wraper")
                span(class="formElements__title") bullet list
                +bullet
        div(class="formElements__wrap formElement__wrap_end")
            div(class="formElement__wrapperfect")
                div(class="formElements__wraper")
                    +perfect("/src/images/insert_emoticon.svg", "Комфорт", "Шумопоглощающие стены")
                div(class="formElements__wraper")
                    +perfect("/src/images/location_city.svg", "Удобство", "Окно в каждой из спален")
            div(class="formElement__wrapperfect")
            +reviews("/src/images/image.jpg", "Мурад Сарафанов", "5 дней назад", 12, "true", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
            
