@import "pug/UI KIT/Blocks/form elements/Block/text field/text field.scss";
@import "pug/UI KIT/Blocks/form elements/Block/checkbox/checkbox.scss";
@import "pug/UI KIT/Blocks/form elements/Block/radio/radio.scss";
@import "pug/UI KIT/Blocks/form elements/Block/toggle/toggle.scss";
@import "pug/UI KIT/Blocks/form elements/Block/Buttons/Buttons.scss";
@import "pug/UI KIT/Blocks/form elements/Block/perfect/perfect.scss";
@import "pug/UI KIT/Blocks/form elements/Block/link/link.scss";
@import "pug/UI KIT/Blocks/form elements/Block/date dropdown/date dropdown.scss";
@import "pug/UI KIT/Blocks/form elements/Block/range/range.scss";
@import "pug/UI KIT/Blocks/form elements/Block/dropdown/dropdown.scss";
@import "pug/UI KIT/Blocks/form elements/Block/bullet list/bullet list.scss";
@import "pug/UI KIT/Blocks/form elements/Block/like button/like button.scss";
@import "pug/UI KIT/Blocks/form elements/Block/rate button/rate button.scss";

.formElements__wrapper {
    background: #fff;
    padding: 30px 0 0 30px;
    max-width: 1440px;
}
.formElements__wrap {
    padding: 85px 141px 0 111px;
    display: flex;
    justify-content: space-between;
}
.formElements__wraper {
    margin-bottom: 20px;
    & .formElements__titlewrap {
        padding-bottom: 16px;
    }
    & .formElements__title {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $Dark100;
    }
}
.formElements__wraper_flex {
    display: flex;
    justify-content: space-between;
    width: 220px;
}
