include ../UI KIT/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TOXIN
    body
        header
            +header("", 'http://www.google.com', "http://www.yandex.ru")
        section(class="toxin-registration")
            +registration()
        footer
            +footer("subscription")