header.container
    div.header
        img(src=require("../images/Logo.png").default, alt="logo").header_logo
        nav.header_nav-menu
            ul.header_nav-menu_list
                li.header_nav-menu_list_item
                    a(href="") О нас
                li.header_nav-menu_list_item
                    a(href="") Услуги 
                        span(class="material-icons") keyboard_arrow_down
                li.header_nav-menu_list_item
                    a(href="") Вакансии
                li.header_nav-menu_list_item
                    a(href="") Новости
                li.header_nav-menu_list_item
                    
                    a(href="") Соглашения
                        span(class="material-icons") keyboard_arrow_down
        
        .header_button
            a(href="").header_button-login Войти
            a(href="").header_button-registration Зарегистрироватся