mixin header(login,reg_action, login_action)
    header.header
        div(class="header__wrap")
            +logo("color")
            div(class="header__wrapper")
                +menu
                if login
                    div(class="header__name")
                        p Юлий Цезарь
                else
                    div(class="header__buttons")
                        form(action=`${reg_action}` method="GET" id="login")
                            +button("Войти","87px","","dark","","login", "header-login" )
                        form(action=`${login_action}` method="GET" id="reg")
                            +button("зарегистрироваться","196px","background","dark","","reg", "header-reg")