mixin registration()
    div(class="registration")
        form.registration__form(action="" method="post" id="register")
            h1(class="registration__title") Регистрация аккаунта
            div(class="registration__input")
                +textfield("text", "name","Имя","320px")
            div(class="registration__input")
                +textfield("text", "surname","Фамилия","320px")
            div(class="registration__radio")
                +radio("radio_reg1","Мужчина","radio_reg","checked")
                +radio("radio_reg2","Женщина","radio_reg")
            +textfield("text", "date_reg","ДД.ММ.ГГГГ","320px", "дата рождения","", "date")
            div(class="registration__email")
                +textfield("email", "email_reg","Email","320px", "данные для входа в сервис", "")
            div(class="registration__password")
                +textfield("password","password_reg","Пароль","320px")
            div(class="registration__toggle")
                +toggle("toggle_reg","Получать спецпредложения")
            .registration__submit
                +button("перейти к оплате","background","dark","arrow", "register", "registration-signin")
        div(class="registration__login")
            p.registration__description Уже есть аккаунт на Toxin
            form.registration__button(action="" method="method" id="log")
                +button("войти","","dark","","log","registration")