.searchroom {
  max-width: 380px;
  height: 374px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  @media (max-width: 360px) {
    padding: 40px 5px 30px 5px;
  }
}
.searchroom__title {
  width: 300px;
  font-family: $fMont;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color:$Dark100;
  padding-bottom: 21px;
}
.searchroom__dropdown {
  padding: 20px 0 31px 0;
  width: 320px;
}
.searchroom__button {
  width: 320px;
  height: 44px;
}