+logo("grey")
.header
    +logo("color")
    .header__wrapper
        +menu
        .header__buttons
            +button("Войти","87px","","dark","")
            +button("зарегистрироваться","196px","background","dark","")