mixin formElements()
    div(class="formElements__wrapper")
        +logo("grey")
        div(class="formElements__wrap")
            div(class="formElements__block")
                div(class="formElements__wraper")
                    +textfield("email", "email_1","Email","320px", "Text Field","Default")
                div(class="formElements__wraper")
                    +textfield("text","text-hover","This is pretty awesome","320px","Text Field","Hover / Focus")
                div(class="formElements__wraper")
                    +dropdown("dropDownFormElemen", "dropdown", "", "", "", "", "", "320px")
                div(class="formElements__wraper")
                    +textfield("text", "date","ДД.ММ.ГГГГ","320px", "masked text field","", "date")
                div(class="formElements__wraper_date")
                    +date(true, true,"date Dropdown","date Dropdown")
                div(class="formElements__wraper_date")
                    +date(true, false,"","","filter date dropdown")
                div(class="formElements__wraper")
                  +textfield("subscription","sub","Email","320px","subscription text field")
            div(class="formElements__block")
                div(class="formElements__wraper formElements__wraper_check")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Checkbox Buttons
                    div(class="formElements__wraper_rich")
                        +checkbox("vipe","Можно курить")
                    div(class="formElements__wraper_rich")
                        +checkbox("pet", "Можно с питомцами","checked")
                    div(class="formElements__wraper_rich")
                        +checkbox("guest", "Можно пригласить гостей (до 10 человек)","checked")
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Radio Buttons
                    div(class="formElements__wraper formElements__wraper_flex")
                        +radio("radio1","Мужчина","radio","checked")
                        +radio("radio2","Женщина","radio")
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Toggle
                    div(class="formElements__wraper_rich")
                        +toggle("toggle-on","Получать спецпредложения","checked")
                    div(class="formElements__wraper_rich")
                        +toggle("toggle-off","Получать спецпредложения")
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") like button
                        div(class="formElements__like")
                            div(class="formElements__wraplike")
                                +likebutton(2)
                            div(class="formElements__wraplike")
                                +likebutton(12,true)
                div(class="formElements__wraper")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") rate button
                        div(class="formElements__like")
                            div(class="formElements__rate")
                                +ratebutton(4)
                            div(class="formElements__rate")
                                +ratebutton(5)
            div(class="formElements__block")
                div(class="formElements__wraper")
                    +range("RANGE SLIDER")
                div(class="formElements__wraper formElements__wraper_buttons")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") Buttons
                    div(class="formElements__wraper formElements__wraper_block" )
                        div(class="formElements__wraper formElements__wraper_but")
                            +button("click me","","background","dark")
                        div(class="formElements__wraper")
                            +button("click me","","background")
                    div(class="formElements__wraper formElements__wraper_block")
                        div(class="formElements__wraper formElements__wraper_but")
                            +button("click me","","","dark")
                        div(class="formElements__wraper")
                            +button("click me")
                    div(class="formElements__wraper formElements__wraper_block")
                        div(class="formElements__wraper formElements__wraper_but")
                            +button("click me","","","dark","","","","link" )
                        div(class="formElements__wraper")
                            +button("click me","","","","","","","link" )
                    div(class="formElements__wraper")
                        +button("перейти к оплате","320px","background","dark","arrow")
                    div(class="formElements__titlewrap")
                        span(class="formElements__title") pagination
                    +pagination(15)
        div(class="formElements__wrap formElement__wrap_end")
            div(class="formelements__dropdownlist")
                div(class="formElements__downwrapper")
                    +dropdown("dropDownForm", "dropdown", "Default", "2", "2", "", "true")
                div(class="formElements__downwrapper")
                    +dropdown("dropDownFormtwo", "dropdown", "Default", "2", "2", "","true","","true")
            div(class="formelements__dropdownlist")
                div(class="formElements__downwrapper")
                    +dropdown("dropDownFormguesttwo","dropdown","Default","","","","","","true","","appl")
            div(class="formelements__dropdownlist")
                div(class="formElements__downwrapper")
                    +dropdown("dropDownFormguestthree","dropdown","Default","2","1","","","","true","clear","appl")
        div(class="formElements__wrap formElement__wrap_end")
            div(class="formElements__checkboxlist")
                div(class="formElements__wraper formElements__wraper_checkboxlist")
                    +checkboxList("expandable checkbox list", 1,false, [{Завтрак : false},{"Письменный стол": true},{"Стул для кормления" : true},{Кроватка : true},{Телевизор : false},{Шампунь : false},{Телевизор : false},{Шампунь : false}])
                div(class="formElements__wraper formElements__wraper_open formElements__wraper_checkboxlist")
                    +checkboxList("expandable checkbox list", 2,true, [{Завтрак : false},{"Письменный стол": true},{"Стул для кормления" : true},{Кроватка : true},{Телевизор : false},{Шампунь : false},{Телевизор : false},{Шампунь : false}])
            div
                div(class="formElements__wraper formElements__richCheckbox")
                    span(class="formElements__title") rich Checkbox Buttons
                    div(class="formElements_wraplist")
                        +richCheckbox("rich_1", "<p><span>Широкий коридор</span>Ширина коридоров в номере<br/> не менее 91 см.</p>", "rich_2", "<p><span>Помощник для инвалидов</span> На 1 этаже вас встретит специалист  и проводит до номера.</p>")
            div(class="formElements__wraper")
                span(class="formElements__title") bullet list
                div(class="formElements_wraplist")
                    +bullet
        div(class="formElements__wrap formElement__wrap_end")
            div(class="formElement__wrapperfect")
                div(class="formElements__wraper")
                    +perfect("/src/images/insert_emoticon.svg", "Комфорт", "Шумопоглощающие стены")
                div(class="formElements__wraper")
                    +perfect("/src/images/location_city.svg", "Удобство", "Окно в каждой из спален")
            div(class="formElement__wrapperfect")
            +reviews("/src/images/image.jpg", "Мурад Сарафанов", "5 дней назад", 12, "true", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
            
