mixin menu
    nav.menu
        ul.menu__list
            li.menu__item
                a(href="#" class="menu__link") О нас
            li
                a(href="#" class="menu__link") Услуги
                    span
            li
                a(href="#" class="menu__link") Вакансии
            li
                a(href="#" class="menu__link") Новости
            li
                a(href="#" class="menu__link") Соглашения
                    span