mixin cards ()
    div(class="cards")
        +logo("grey")
        div(class="cards__wrap")
            div(class="cards__colomn")
                div(class="cards__line")
                    +searchroom("searchroom")
                div(class="cards__line")
                    +registration()
            div(class="cards__colomn")
                div(class="cards__line")
                    +toBook(" 888", "люкс", "9 990", "toBookUIKIT","38 081₽","4")
                div(class="cards__line")
                    +login("loginUiKit")
            div(class="cards__colomn")
                div(class="cards__line")
                    +date(false)
                div(class="cards__line")
                    +room(" 888", "люкс", "9 990","5","145")
                div(class="cards__line")
                    +room(" 840", "", "9 990","4","65")