mixin registration()
    div(class="registration")
        form(action="" method="post" id="register")
            h1(class="registration__title") Регистрация аккаунта
            div(class="registration__input")
                +textfield("text", "name","Имя","320px")
            div(class="registration__input")
                +textfield("text", "surname","Фамилия","320px")
            div(class="registration__checkbox")
                +radio("radio_reg1","Мужчина","radio_reg","checked")
                +radio("radio_reg2","Женщина","radio_reg")
            +textfield("text", "date_reg","ДД.ММ.ГГГГ","320px", "дата рождения","", "date")
            div(class="registration__email")
                +textfield("email", "email_reg","Email","320px", "данные для входа в сервис", "")
            div(class="registration__password")
                +textfield("password","password_reg","Пароль","320px")
            div(class="registration__toggle")
                +toggle("toggle_reg","Получать спецпредложения")
            +button("перейти к оплате","320px","background","dark","arrow", "register")
        div(class="registration__login")
            p Уже есть аккаунт на Toxin
            form(action="" method="method" id="log")
                +button("войти","99","","dark","","log")