mixin subscription(idbut)
    ul.subscription
        li.subscription__item Подписка
        li.subscription__item Получайте специальные предложения и новости сервиса
        li.subscription__item
            +textfield("subscription",idbut,"Email")