@import "../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../UI KIT/Blocks/fonts/fonts.scss";
@import "../UI KIT/Blocks/colors/colors.scss";
@import "../UI KIT/Blocks/Header&Footer/Header&Footer.scss";
@import "../UI KIT/Blocks/form elements/form elements.scss";
@import "../UI KIT/Blocks/cards/cards.scss";

.toxin-section {
    background: url(../images/main-background.jpg) center center no-repeat;
    background-size: cover;
    min-width: 1440px;
    /*временная высота пока не напишу datapicker*/
    height: 830px;
}