include ../Blocks/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TOXIN
    body
        +header('', './registration.html', "./login.html")
        section(class="toxin-section")
            .toxin-section__search
                +searchroom("searchroom")
                .toxin-section__postscript
                    p.toxin-section__title Лучшие номера для вашей работы, отдыха и просто вдохновения
        +footer("subscription")