include ../Blocks/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TOXIN
    body
        +header("", './login.html', "./registration.html")
        section(class="search-room")
            div(class="search-room__filter")
                div
                    +textfield("text", "date","ДД.ММ.ГГГГ","266px", "masked text field","", "date")
                div
                    +dropdown("dropDownFormguestthree","Гости","","3","","1","","","","clear","appl")
                div
                    +range("Диапазон цены")
                    p(class="search-room__range") Стоимость за сутки пребывания в номере
                div(class="search-room__checkbox")
                    div
                        span правила дома
                    div
                        +checkbox("vipe","Можно курить")
                    div
                        +checkbox("pet", "Можно с питомцами","checked")
                    div
                        +checkbox("guest", "Можно пригласить гостей (до 10 человек)","checked")
                div(class="search-room__description")
                    div
                        span Доступность
                    div
                        +richCheckbox("rich_1", "<p><span>Широкий коридор</span>Ширина коридоров в номере<br/> не менее 91 см.</p>", "rich_2", "<p><span>Помощник для инвалидов</span> На 1 этаже вас встретит специалист  и проводит до номера.</p>")
                div
                    +dropdown("dropDownForm", "Удобства номера", "", "2", "2", "", "true")
                div
                    +checkboxList("дополнительные удобства", 1,false, [{Завтрак : false},{"Письменный стол": true},{"Стул для кормления" : true},{Кроватка : true},{Телевизор : false},{Шампунь : false}])
            div(class="search-room__room")
                h1(class="search-room__title") Номера, которые мы для вас подобрали
                div
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                div
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                div
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                div
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
                    +room(" 888", "люкс", "9 990","5","145")
        footer
            +footer("subscription")