@import "../../components/util/variables.scss";
@import "../../components/fonts/fonts.scss";
@import "../../components/logo/logo.scss";
@import "../../components/Header&Footer/Blocks/footer/footer.scss";
@import "../../components/Header&Footer/Blocks/header/header.scss";
@import "../../components/Header&Footer/Blocks/menu/menu.scss";
@import "../../components/Header&Footer/Blocks/footer/Block/Navigation/navigation.scss";
@import "../../components/Header&Footer/Blocks/footer/Block/footer-logo/footer-logo.scss";
@import "../../components/Header&Footer/Blocks/footer/Block/subscription/subscription.scss";
@import "../../components/form elements/Block/Buttons/Buttons.scss";
@import "../../components/form elements/Block/text field/text field.scss";
.headerandfooter {
  background: #F4F4F6;
  width: 1440px;
  padding-bottom: 140px;
  margin: 0 auto;
}
.headerandfooter__logo {
  padding: 30px 0 62px 30px;
}
.headerandfooter__header {
  background: #fff;
  margin-bottom: 40px;
}
.headerandfooter__footer {
  background: #fff;
  margin-bottom: 40px;
}
.headerandfooter__smile {
  background: #fff;
  width: 768px;
  height: 367px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}