.button__background_dark {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: 0px;
    border-radius: 22px;
    width: 99px;
    height: 44px;
    cursor: pointer;
        &:active, &:hover {
            outline: 0px transparent;
            opacity: 0.5;
        }
        &:focus {
            outline: 0px transparent;
        }
}
.button__background_light {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
    border: 0px;
    border-radius: 22px;
    width: 99px;
    height: 44px;
    cursor: pointer;
        &:active, &:hover {
            outline: 0px transparent;
        }
        &:focus {
            outline: 0px transparent;
        }
}
.button__text_dark {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    background: #fff;
    width: 99px;
    height: 44px;
    cursor: pointer;
    border: double 2px transparent;
    border-radius: 22px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
        &:active, &:hover {
            outline: 0px transparent;
            background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
        }
        &:focus {
            outline: 0px transparent;
            background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
        }
}
.button__text_light {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    background: #fff;
    width: 99px;
    height: 44px;
    cursor: pointer;
    border: double 2px rgba(188, 156, 255, 0.5);
    border-radius: 22px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    opacity: 0.5;
    background-clip: content-box, border-box;

        &:active, &:focus {
            outline: 0px transparent;
        }
}
.arrow {
    background: url(/src/assets/images/arrow_forward-white.svg) 95% center no-repeat,
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button__link_colorful {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
        &:hover {
            color: $Dark50;
        }
        &:hover, &:active, &:focus, &:visited {
            outline: none;
        }
}
.button__link_grey {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $Dark50;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}