mixin footer(idbut)
    footer.footer
        .footer__up-wrapp
            .footer__up-wrapper
                .footer__logo
                    +footer-logo
                .footer__wrapper
                    +footer-logo("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")
                .footer__wrapper
                    +navigation([{title: "навигация", link: "#"},{title: "О нас", link: "#"},{title: "Новости", link: "#"},{title: "Служба поддержки", link: "#"},{title: "Услуги", link: "#"}],
                                [{title: "о нас", link: "#"},{title: "О сервисе", link: "#"},{title: "Наша команда", link: "#"},{title: "Вакансии", link: "#"},{title: "Инвесторы", link: "#"}],
                                [{title: "Служба поддержки", link: "#"},{title: "Соглашения", link: "#"},{title: "Сообщества", link: "#"},{title: "Связь с нами", link: "#"}])
                .footer__wrapper
                    +subscription(idbut)
        .footer__down-wrapp
            .footer__down-wrapper
                p.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
                .footer__media
                    a.footer__link(rel="noopener noreferrer" target="_blank" href="/mock-address/change-me")
                        img.footer__icon(src="images/twitter.svg", alt="logo twitter")
                    a.footer__link(rel="noopener noreferrer" target="_blank" href="/mock-address/change-me")
                        img.footer__icon(src="images/facebook.svg", alt="logo facebook")
                    a.footer__link(rel="noopener noreferrer" target="_blank" href="/mock-address/change-me")
                        img.footer__icon(src="images/IG.svg", alt="logo instagramm")