.link_color_colorful {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    text-decoration: none;
}
.link_color_grey {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $Dark50;
    text-decoration: none;
}