mixin checkboxList(title, id, hidden,description = [{title: bool}] )
        div(class="checkboxlist")
            div(class=(hidden) ? "checkboxlist__titlewrapper checkboxlist__titlewrapper_onclick" : "checkboxlist__titlewrapper" data-hidden)
                span(class="checkboxlist__title" data-hidden)=title
            div(class=(hidden) ? "checkboxlist__listwrapper checkboxlist__listwrapper_onclick" : "checkboxlist__listwrapper" data-hidden )
                ul(class="checkboxlist__list" data-hidden)
                            each val, key in description
                                each value, title in val
                                    li(data-hidden)
                                        +checkbox(`breakfest_${id}_${key}`, title, value)