section.mainsection
    div.mainsection_content.container 
        div.mainsection_content_form
            h1 Найдём номера под ваши пожелания
        p.mainsection_content_postscript Лучшие номера для вашей работы,<br>отдыха и просто вдохновения