mixin pagination(items)
    div(class="pagination")
        div(class="pagination__wrapper")
            ul(class="pagination__list" data-items=items)
            button(class="pagination__button")
        p(class="pagination__title") 1 – 12 из 100+ вариантов аренды
