$fMont: Montserrat, sans-serif;

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), url('/src/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'), url('/src/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
html {
  font-family: $fMont;
  font-size: 14px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}