mixin colorsandtype()
    div(class="colors__wrapper")
        +logo("grey")
        div(class="colors__wrap")
            div(class="colors__color")
                ul
                    li
                    li
                    li
                    li
                    li
                    li
                    li
            div(class="colors__titles")
                ul
                    li This one is the sub-section or widget title
                    li Next one is the item title inside widgets
                    li This is a label or CTA text
                    li This is the body text which is used for most of the design, like paragraphs, lists, etc.
