include ./logo/logo.pug
include ./colors/colors&type.pug
include ./form elements/form elements.pug
include ./form elements/Block/text field/text field.pug
include ./form elements/Block/checkbox/checkbox.pug
include ./form elements/Block/radio/radio.pug
include ./form elements/Block/toggle/toggle.pug
include ./form elements/Block/Buttons/Buttons.pug
include ./form elements/Block/dropdown/dropdown.pug
include ./form elements/Block/date dropdown/date dropdown.pug
include ./form elements/Block/perfect/perfect.pug
include ./form elements/Block/bullet list/bullet list.pug
include ./form elements/Block/like button/like button.pug
include ./form elements/Block/rate button/rate button.pug
include ./form elements/Block/range/range.pug
include ./form elements/Block/reviews/reviews.pug
include ./form elements/Block/checkbox list/checkbox list.pug
include ./form elements/Block/rich checkbox buttons/rich checkbox buttons.pug
include ./form elements/Block/pagination/pagination.pug
include ./form elements/Block/date dropdown/date dropdown.pug
include ./cards/cards.pug
include ./cards/blocks/searchroom/searchroom.pug
include ./cards/blocks/login/login.pug
include ./cards/blocks/toBook/toBook.pug
include ./cards/blocks/room/room.pug
include ./cards/blocks/registration/registration.pug
include ./Header&Footer/Header&Footer.pug
include ./Header&Footer/Blocks/menu/menu.pug
include ./Header&Footer/Blocks/header/header.pug
include ./Header&Footer/Blocks/footer/footer.pug
include ./Header&Footer/Blocks/footer/Block/footer-logo/footer-logo.pug
include ./Header&Footer/Blocks/footer/Block/Navigation/navigation.pug
include ./Header&Footer/Blocks/footer/Block/subscription/subscription.pug