mixin range()
    div
        p
            label(for="amount") Price range:
            input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
        div(id="slider-range")