.text-field {
    & label {
        display: flex;
        justify-content: space-between;
        & span {
            font-family: $fMont;
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
            color: $Dark100;
        }
        & .text-field__subtitle {
            color: $Dark50;
            margin-bottom: 8px;
            font-weight: normal;
        }
    }
    & input {
        display: block;
        height: 44px;
        border: 1px solid $Dark25;
        border-radius: 4px;
        padding-left: 15px;
        font-family: $fMont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $Dark25;
        &:hover, &:focus, &:active {
            border: 1px solid $Dark50;
            outline: none;
            &::placeholder {
                color: $Dark75;
                line-height: 24px;
            }
        }
    }
}
.text-field__subscription {
    background: url(/src/images/arrow_forward.svg) 95% center no-repeat;
}