.reviews__wrap {
  display: flex;
  justify-content: start;
  align-items: center;
}
.reviews__like {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 6px;
}
.reviews__image {
  height: 44px;
  width: 44px;
  border-radius: 22px;
}
.reviews__name {
  padding-left: 16px;
  & span {
    font-family: $fMont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $Dark75;
  }
  & p {
    font-family: $fMont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $Dark75;
  }
}
.reviews__title {
  padding-left: 16px;
  width: 669px;
  font-family: $fMont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark75;
}