.ratebutton__button {
  width: 24px;
  height: 24px;
  background: #fff url(../../assets/images/star_border.svg) center center no-repeat;
  border: none;
  &:hover, &:active, &:visited, &:focus {
    outline: none;
  }
}
.ratebutton__button_active {
  width: 24px;
  height: 24px;
  border: none;
  background: #fff url(../../assets/images/star.svg) center center no-repeat;
  &:hover, &:active, &:visited, &:focus {
    outline: none;
  }
}