.checkboxlist__titlewrapper {
  width: 266px;
  background: url(../../assets/images/expand_more.svg) 90% center no-repeat;
  cursor: pointer;
}
.checkboxlist__titlewrapper_onclick {
  background: url(../../assets/images/expand_more_onclick.svg) 90% center no-repeat;
}
.checkboxlist__listwrapper {
  display: none;
  width: 266px;
}
.checkboxlist__listwrapper_onclick {
  display: block;
}
.checkboxlist__title {
  font-family: $fMont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $Dark100;
  padding-bottom: 17px;
}
.checkboxlist__list li {
  list-style: none;
  padding-top: 10px;
}