<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        
    body
        h1 Привет
        p hello
        a(href="http://") вася
        .console
            h1 вася вася
            p капуста
             h1 (маленькая лошадка - пони)

             