doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Выбор страницы
  body
    ul
      li
        a(href="./cards.html" class="link") Cards
      li
        a(href="./colors.html" class="link") Colors
      li
        a(href="./forms.html" class="link") Form
      li
        a(href="./headerfooter.html" class="link") Header and Footer
      li
        a(href="./login.html" class="link") Login
      li
        a(href="./main.html" class="link") Main
      li
        a(href="./registration.html" class="link") Registration
      li
        a(href="./room-details.html" class="link") Room Details
      li
        a(href="./search-room.html" class="link") Search - Room