include ../../components/mixin.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body
    div(class="cards")
        +logo()
        div(class="cards__wrap")
            div(class="cards__colomn")
                div(class="cards__line")
                    +searchroom("searchroom")
                div(class="cards__line")
                    +registration()
            div(class="cards__colomn")
                div(class="cards__line")
                    +toBook(" 888", "люкс", "9 990", "toBookUIKIT","38 081₽","4")
                div(class="cards__line")
                    +login("loginUiKit")
            div(class="cards__colomn")
                div(class="cards__line")
                    +date(false)
                div(class="cards__line")
                    +room(["/images/room-image.jpg",
                            "/images/room-image.jpg",
                            "/images/room-image.jpg",
                            "/images/room-image.jpg"],
                            " 888", "люкс", "9 990","5","145")
                div(class="cards__line")
                    +room(["/images/room-image.jpg",
                            "/images/room-image.jpg",
                            "/images/room-image.jpg",
                            "/images/room-image.jpg"],
                            " 840", "", "9 990","4","65")