include ./mixin.pug
div(class="uikit")
    div(class="uikit__wrapper")
        span Colors & Type
        +colorsandtype
        div(class="uikit__subwrapper")
            span Form Elements
            +formElements
    div(class="uikit__wrapper")
        span Cards
        +cards
    div(class="uikit__wrapper")
        span Headers & Footers
        +headerandfooter()
