include Blocks/logo/logo.pug
include Blocks/colors/colors&type.pug
include Blocks/form elements/form elements.pug
include Blocks/form elements/Block/text field/text field.pug
include Blocks/form elements/Block/checkbox/checkbox.pug
include Blocks/form elements/Block/radio/radio.pug
include Blocks/form elements/Block/toggle/toggle.pug
include Blocks/form elements/Block/Buttons/Buttons.pug
include Blocks/form elements/Block/link/link.pug
include Blocks/form elements/Block/dropdown/dropdown.pug
include Blocks/form elements/Block/date dropdown/date dropdown.pug
include Blocks/form elements/Block/perfect/perfect.pug
include Blocks/form elements/Block/bullet list/bullet list.pug

include Blocks/form elements/Block/range/range.pug
include Blocks/cards/blocks/login/login.pug
include Blocks/cards/blocks/registration/registration.pug
include Blocks/Header&Footer/Blocks/menu/menu.pug
include Blocks/Header&Footer/Blocks/header/header.pug
include Blocks/Header&Footer/Blocks/footer/footer.pug
include Blocks/Header&Footer/Blocks/footer/Block/footer-logo/footer-logo.pug
include Blocks/Header&Footer/Blocks/footer/Block/Navigation/navigation.pug
include Blocks/Header&Footer/Blocks/footer/Block/subscription/subscription.pug
