mixin ratebutton()
    .ratebutton
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")