mixin ratebutton()
    div(class="ratebutton")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")
        button(class="ratebutton__button")