mixin headerandfooter()
    div(class="headerandfooter")
        div(class="headerandfooter__logo")
            +logo("grey")
        div(class="headerandfooter__header")
            +header
        div(class="headerandfooter__header")
            +header("login")
        div(class="headerandfooter__footer")
            +footer("foter-full")
        div(class="headerandfooter__smile")
            +footer("footer-smile")