.dropdown__title {
  font-family: $fMont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $Dark100;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  & span:last-child {
    font-family: $fMont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $Dark50;
  }
}
.dropdown__wraplabel {
  width: 266px;
}
.dropdown__input {
  width: 266px;
  height: 44px;
  font-family: $fMont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark75;
  border: 1px solid $Dark25;
  box-sizing: border-box;
  border-radius: 4px;
  background: url(/src/assets/images/expand_more.svg) 95% center no-repeat;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover, &:active, &:visited, &:focus {
    outline: none;
  }
}
.dropdown__input_border {
  border-radius: 4px 4px 0 0;
}
.dropdown__window {
  position: absolute;
  border: 1px solid $Dark50;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $Dark5;
  padding: 7px 7px 8px 15px;
  border-radius: 0 0 4px 4px;
  background: #fff;
  border-top: none;
  width: 266px;
  display:none;
  z-index: 3;
}
.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fMont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $Dark100;
  padding-bottom: 7px;
  &:last-child {
    padding-bottom: 0px;
  }
}
.dropdown__minus, .dropdown__plus {
  width: 30px;
  height: 30px;
  border: 1px solid $Dark25;
  box-sizing: border-box;
  border-radius: 22px;
  background: #fff;
  cursor: pointer;
  color: $Dark50;
  font-family: $fMont;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  &:hover, &:active, &:visited, &:focus {
    outline: none;
  }
}
.dropdown__minus_null {
  border: 1px solid transparentize($Dark25, 0.1);
}
.dropdown__number {
  width: 32px;
  border: hidden;
  text-align: center;
  &:hover, &:active, &:visited, &:focus {
    outline: none;
  }
}
.dropdown__window_hidden {
  display: block;
}
[data-style] {
  border-radius: 4px 4px 0 0;
}
.dropdown__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 4px 0;
}